extends layout

block content
  div(class="row")
    div(class="col-sm-12 col-md-12 col-xs-12 row-container")
      div(class="col-lg-1 col-md-2 col-sm-4 col-xs-6" ng-repeat="movie in movies")
        img(id="movie_{{movie._id}}" ng-src="imgs/posters/{{movie.poster}}" class="img-thumbnail img-clickable" ng-click="showDetails(movie._id)")