doctype html
html(lang='en', ng-app="moviestore_app" ng-controller="main_ctrl")
    head
        meta(charset="utf-8")
        title {{title}}
        include ./includes/head
        block styles
    body
        block content
        
        include ./includes/scripts
        block scripts
   