doctype html
html(lang='en', ng-app="moviestore_app" ng-controller="main_ctrl")
    head
        meta(charset="utf-8")
        title {{title}}
        include ./includes/head
        block styles
    body
        // fixed navgiation bar
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="nav-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="copplase" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(href="#" class="navbar-brand") Movie Store
                div(id="navbar" class="navbar-collapse collapse")
                    ul(class="nav navbar-nav")
                        li(class="active"): a(href="#") Movies
                        li: a(href="#categories") Categories
                        li: a(href="#search") Search
                    ul(class="nav navbar-nav navbar-right")
                        li: a: span(class="glyphicon glyphicon-search" aria-hidden="true")
        div(class="container jumbotron")
            block content
        
        include ./includes/scripts
        block scripts
   